@media (max-width: 768px) {
  .abacus-section,
  .reading-section,
  .cube-section,
  .handwriting-section,
  .vedic-section {
    padding: 2rem;
    gap: 1rem;
  }

  .abacus-content,
  .abacus-image,
  .reading-content,
  .reading-image,
  .cube-content,
  .cube-image,
  .handwriting-content,
  .handwriting-image,
  .vedic-content,
  .vedic-image {
    flex: 0 0 50%;
  }

  .abacus-heading,
  .reading-heading,
  .cube-heading,
  .handwriting-heading,
  .vedic-heading {
    font-size: 36px;
  }

  .abacus-description,
  .reading-description,
  .cube-description,
  .handwriting-description,
  .vedic-description {
    font-size: 18px;
  }

  .abacus-points li span,
  .reading-points li span,
  .cube-points li span,
  .handwriting-points li span,
  .vedic-points li span {
    font-size: 16px;
  }

  .abacus-button,
  .reading-button,
  .cube-button,
  .handwriting-button,
  .vedic-button {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }

  .abacus-image img,
  .cube-image img,
  .handwriting-image img,
  .vedic-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .reading-image img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-right: -10px;
  }
}